<launch>
    <node pkg="sensor_sim" type="medical_sensor.py" name="med_mon_sensors"/>
    <node pkg="sensor_sim" type="ekg.py" name="ekg_sim"/>
    <node pkg="sensor_sim" type="generic_filter.py" name="ekg_filter_node">
        <param name="input_topic" value="/ekg"/>
        <param name="output_topic" value="/ekg_filtered"/>
        <param name="filter_type" value="lowpass"/>
        <param name="cutoff_frequency" value="0.0"/>
        <param name="cutoff_topic" value="/ekg_filter_cutoff"/>  <!-- New parameter -->
    </node>
    <node pkg="gui" type="medical_gui.py" name="med_mon_gui"/>
</launch>